body {
    background-color: green;
    font-family: 'Oleo Script', cursive, Trebuchet, sans-serif;
}

.controller {
  background: #AF3030;
  color: white;
  width: 33%;
  text-align: center;
  display: inline-block;
  border: gold;
  border-width: 20px;
  padding-top: 5px;
}



.user_point_value{
  display: inline-block;
}

.house_point_value{
  display: inline-block;
}

.house_section {
  display: inline-block;
  position: absolute;
  padding-left: 20px;
}

.house_card {
  height: 126px;
  width: 80px;
  background: white;
  text-align: center;
  margin-top: 5px;
}

.user_card {
  height: 126px;
  width: 80px;
  background: white;
  text-align: center;
  margin-top: 5px;
}

.hitMe {
  background-color: blue;
}
